<!-- {% load static %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
    <div id="sidebar">
        <h3>Categories</h3>
        <ul>
            <li {% if not category %} class="selected" {% endif %}>
                <a href="{% url 'shop:product_list' %}">All</a>
            </li>
            {% for c in categories %}
    <li {% if category.slug == c.slug %}class="selected"{% endif %}>
        <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
    </li>
{% endfor %}
        </ul>
    </div>
    <div id="main" class="container">
        <div class="row">
        <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
        {% for product in products %}
        <div class="card" style="width: 18rem;">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">{{ product.description | slice:'20' }}</p>
              <p class="card-text">${{ product.price }}</p>
              <a href="{{ product.get_absolute_url }}" class="btn btn-primary">Перейти к товару</a>
            </div>
          </div>
        {% endfor %}
    </div>
    </div>
{% endblock %} -->
<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'style/style.css'%}">
    <title>Document</title>
</head>
<body>
    {% include 'includes/pol.html'%}
    <center><h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1></center>
    <div class="tovars">
        {%for product in products%}
        <div> 
            <img src="{{ product.image.url }}" width="300px" height="300px" class="card-img-top" alt="...">
            <h3 class="card-title">{{ product.name }}</h3>
            <p class="card-text">{{ product.description}}</p>
            <h2><p class="card-text">${{ product.price }}</p></h2>
            <a href="{{ product.get_absolute_url }}" class="btn btn-primary">Перейти к товару</a>
        </div>
        {%endfor%}
</body>
</html>